.container {
  display: flex;
  flex-direction: column;
}

.groupContainer {
  display: flex;
  flex-direction: row;
  align-content: space-evenly;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mat-mdc-radio-button ~ .mat-mdc-radio-button {
  margin-left: 1rem;
}
