<h2 mat-dialog-title>{{ 'ADD_NEW_PROJECT_MEMBER' | translate }}</h2>
<mat-dialog-content class="container" [formGroup]="teamForm">
  <div class="searchContainer">
    <mat-form-field>
      <mat-label>
        {{ 'SEARCH_PROMPT' | translate }}
      </mat-label>
      <input matInput>
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>
  <div class="projectMembersContainer">
    <mat-selection-list (selectionChange)="onSelectionChange($event)">
      @for (projectTeam of teamList; track projectTeam) {
        <mat-list-option [value]="projectTeam" >{{ projectTeam.team.name }}</mat-list-option>
      }
    </mat-selection-list>
  </div>
</mat-dialog-content>

<mat-dialog-content class="container" *ngIf="selectedTeams.length > 0">
  <div class="allocationContainer">
    <mat-list>
      <mat-list-item *ngFor="let projectTeam of selectedTeams; let i = index" [formGroup]="getFormGroupAt(i)">
        <div class="allocationItem">
          <span>{{ projectTeam.team!.name }}</span>
          <mat-form-field class="allocationInput">
            <mat-label>Allocation (%)</mat-label>
            <span matSuffix>%</span>
            <input
              type="number"
              matInput
              placeholder="Ex. 75%"
              formControlName="allocation">
          </mat-form-field>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <!-- buttons -->
  <div class="buttonContainer">
    <button mat-stroked-button mat-dialog-close>
      <mat-icon>
        cancel
      </mat-icon>
      {{ 'CANCEL' | translate }}
    </button>
    <button mat-stroked-button [mat-dialog-close]="true" (click)="onSave()" [disabled]="isSaveDisabled()">
      <mat-icon>
        check_circle
      </mat-icon>
      {{ 'ADD' | translate }}
    </button>
  </div>
</mat-dialog-actions>
