<div class="imageContainer">
  <img src="images/sidebar_logo.png">
</div>
<mat-dialog-content class="loginContainer" [formGroup]="userForm" (keyup.enter)="onSubmit()">

  <mat-form-field class="groupContainer">
    <mat-label>{{ 'USERNAME' | translate }}</mat-label>
    <input
      matInput
      type="text"
      id="username"
      name="username"
      class="form-control"
      formControlName="username"
      required
    />
  </mat-form-field>

  <mat-form-field class="groupContainer">
    <mat-label>{{ 'PASSWORD' | translate }}</mat-label>
    <input
      matInput
      type="password"
      id="password"
      name="password"
      class="form-control"
      formControlName="password"
      required
    />
  </mat-form-field>

  <mat-dialog-actions>
    <div class="buttonContainer">
      <button mat-stroked-button (click)="onSubmit()" [disabled]="!userForm.valid">
        Login
      </button>
    </div>
  </mat-dialog-actions>
</mat-dialog-content>
