.container {
  display: flex;
  flex-direction: column;
  height: 93vh;
  width: 80vw;
  padding-top: 1rem;
  overflow: auto;
  transition: width 0.3s ease;
}

.container.menuClosed {
  width: 90vw;
}

.countriesContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.countryContainer {
  display: flex;
  flex-direction: column;
  max-width: 90vw;
  width: 90vw;
  background-color: whitesmoke;
  border: 1px solid gray;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1.5rem;
  transition: width 0.3s ease;
}

.countryContainer.countrySelected {
  max-width: 60vw;
  width: 60vw;
  transition: width 0.3s ease;
}

.countriesTitleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  max-height: 6vh;
  height: fit-content;
}

.searchInput {
  max-width: 15vw;
}

.tableContainer {
  background-color: #fffcf8;
  overflow: auto;
  margin-top: 0.5rem;
}

.spinnerContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  top: 25vh;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.selectedCountryContainer {
  display: flex;
  flex-direction: column;
  max-width: 30vw;
  width: 30vw;
  background-color: whitesmoke;
  border: 1px solid gray;
  border-radius: 0.5rem;
  transition: width 0.3s ease;
  padding: 0.5rem;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  max-height: 3rem;
  height: fit-content;
  align-items: center;
}

.countryInfoContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.treeContainer {
  display: flex;
  flex-direction: column;
  max-height: 30vh;
  min-height: 10vh;
  overflow-y: auto;
  flex-grow: 0;
  transition: height 0.3s ease-in-out;
}

.infoContainer {
  display: flex;
  flex-direction: column;
}

.mat-mdc-row:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.tableRowSelected {
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.05);
}
