<div class="container" [ngClass]="{menuClosed: !isMenuOpen}">
  <div class="titleContainer">
    <span>
      {{ 'PROJECTS' | translate }}
    </span>
    <div class="buttonContainer">
      <button mat-raised-button (click)="openDialog()">
        <mat-icon>
          add
        </mat-icon>
        {{ 'ADD_NEW_PROJECT' | translate }}
      </button>
    </div>
  </div>
  <div class="underTitleContainer">
    <span *ngIf="!loading">
      {{ 'TOTAL_PROJECTS' | translate }} {{ datasource.data.length }}
    </span>
  </div>
  <div class="paginatorContainer">
    <mat-paginator class="paginator" [pageSize]="10" [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons>
    </mat-paginator>
  </div>
  <div class="tableContainer">
    <table class="projectsTable" mat-table [dataSource]="datasource" matSort>
      <!-- Project name -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'PROJECT_NAME' | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="!element.isEditing">
            {{ element['projectName'] }}
          </span>
          <input matInput *ngIf="element.isEditing" [(ngModel)]="element['projectName']"/>
        </td>
      </ng-container>

      <!-- Sales number for project-->
      <ng-container matColumnDef="salesNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'PROJECT_SALES_NUMBER' | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="!element.isEditing">
            {{ element['projectSalesNumber'] }}
          </span>
          <input matInput *ngIf="element.isEditing" [(ngModel)]="element['projectSalesNumber']"/>
        </td>
      </ng-container>

      <!-- Number of members of project -->
      <ng-container matColumnDef="members">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'MEMBERS_OF_PROJECT' | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element[ 'projectMembersString' ]}}
        </td>
      </ng-container>

      <!-- Day rate -->
      <ng-container matColumnDef="dayRate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'PROJECT_DAY_RATE' | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element['projectDayRate'] | number:'1.0-0' }}
        </td>
      </ng-container>

      <!-- Gross Margin-->
      <ng-container matColumnDef="grossMargin">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'PROJECT_GM' | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element['projectGrossMargin'] + '%'}}
        </td>
      </ng-container>

      <!-- End price - what customer pays -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'PROJECT_TOTAL_PRICE' | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="!element.isEditing">
            {{ element['projectPrice'] }}
          </span>
          <input matInput *ngIf="element.isEditing" [(ngModel)]="element['projectPrice']"/>
        </td>
      </ng-container>

      <!-- Start date for project-->
      <ng-container matColumnDef="startDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'PROJECT_START_DATE' | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element['startDateString'] }}
        </td>
      </ng-container>

      <!-- End date for project-->
      <ng-container matColumnDef="endDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'PROJECT_END_DATE' | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="!element.isEditing">
            {{ element['endDateString'] }}
          </span>
          <mat-form-field *ngIf="element.isEditing">
            <mat-label>{{ 'DATES' | translate }}</mat-label>
            <input matInput [matDatepicker]="picker" [value]="element.projectEndDate"
                   [(ngModel)]="element['projectEndDate']">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </td>
      </ng-container>

      <!-- Number of days for project-->
      <ng-container matColumnDef="totalDays">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'PROJECT_TOTAL_DAYS' | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element['projectTotalDays'] + ' ' }}{{ 'DAYS' | translate }}
        </td>
      </ng-container>

      <!-- Project location for project-->
      <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'PROJECT_LOCATION' | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element['projectLocation'].name }}
        </td>
      </ng-container>

      <!-- options button -->
      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef>
          {{ 'OPTIONS' | translate }}
        </th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="!loading" (click)="selectRow(row)">
            <mat-icon>more_vert</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"
          (dblclick)="editRow(row)"
          (keyup.enter)="saveEdit(row)"
          (keyup.escape)="cancelEdit(row)"></tr>
    </table>
  </div>
</div>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="goToProject(selectedRow?.projectId!)">
    <mat-icon>edit</mat-icon>
    {{ 'EDIT' | translate }}
  </button>
  <button mat-menu-item (click)="onDelete()">
    <mat-icon>delete</mat-icon>
    {{ 'DELETE' | translate }}
  </button>
</mat-menu>
