<div class="container" [ngClass]="{'menuClosed': !isMenuOpen}">
  <div class="statsContainer">
    <div class="hourlyRateBox">
      <p class="boxValue">
        {{ this.statBoxes.totalHourlyRate | number:'1.0-2' }}
      </p>
      <p class="boxText">
        {{ 'TOTAL_HOURLY_RATE' | translate }}
      </p>
    </div>
    <div class="dayRateBox">
      <p class="boxValue">
        {{ this.statBoxes.totalDayRate | number:'1.0-2' }}
      </p>
      <p class="boxText">
        {{ 'TOTAL_DAY_RATE' | translate }}
      </p>
    </div>
    <div class="annualCostBox">
      <p class="boxValue">
        {{ this.statBoxes.totalAnnualCost | number:'1.0-2' }}
      </p>
      <p class="boxText">
        {{ 'TOTAL_ANNUAL_COST' | translate }}
      </p>
    </div>
    <div class="annualHoursBox">
      <p class="boxValue">
        {{ this.statBoxes.totalAnnualHours | number:'1.0-0' }}
      </p>
      <p class="boxText">
        {{ 'TOTAL_ANNUAL_HOURS' | translate }}
      </p>
    </div>
  </div>
  <div class="infoContainer">
    <div class="teamsContainer">
      <div class="teamsTitleContainer">
        <p>{{ 'PROJECT_TEAMS' | translate }}</p>
        <mat-form-field class="searchInput" appearance="outline">
          <mat-label>{{ 'SEARCH_PROMPT' | translate }}</mat-label>
          <input matInput inputmode="search" type="search">
          <mat-icon matPrefix>search</mat-icon>
        </mat-form-field>
        <button mat-stroked-button>
          <mat-icon>
            add
          </mat-icon>
          {{ 'ADD_TO_TEAM' | translate }}
        </button>
      </div>
      <div class="tableContainer">
        <table class="profileTeamsTable" mat-table [dataSource]="datasource">
          <!-- name -->
          <ng-container matColumnDef="teamName">
            <th mat-header-cell *matHeaderCellDef>
              {{ 'NAME' | translate }}
            </th>
            <td mat-cell *matCellDef="let element">
              <span>
                {{ element['name'] }}
              </span>
            </td>
          </ng-container>

<!--          &lt;!&ndash; project description &ndash;&gt;
          <ng-container matColumnDef="projectDescription">
            <th mat-header-cell *matHeaderCellDef>
              {{ '"PROJECT_DESCRIPTION"' | translate }}
            </th>
            <td mat-cell *matCellDef="let element">
              <span>
                {{ element['projectDescription'] }}
              </span>
            </td>
          </ng-container>-->

          <!-- cost allocation -->
          <ng-container matColumnDef="projectAllocation">
            <th mat-header-cell *matHeaderCellDef>
              {{ 'PROJECT_ALLOCATION' | translate }}
            </th>
            <td mat-cell *matCellDef="let element">
              <span>
                {{ element['projectAllocation'] + '%' }}
              </span>
            </td>
          </ng-container>

          <!-- day rate -->
          <ng-container matColumnDef="dayRate">
            <th mat-header-cell *matHeaderCellDef>
              {{ 'DAY_RATE' | translate }}
            </th>
            <td mat-cell *matCellDef="let element">
              <span>
                {{ element['dayRateOnTeam'] | number:'1.0-0' }}
              </span>
            </td>
          </ng-container>

          <!-- options button -->
          <ng-container matColumnDef="options">
            <th mat-header-cell *matHeaderCellDef>
              {{ 'OPTIONS' | translate }}
            </th>
            <td mat-cell *matCellDef="let row">
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <div class="spinnerContainer" *ngIf="loading">
          <!-- Display spinner when loading -->
          <mat-spinner diameter="50"></mat-spinner>
        </div>
      </div>
    </div>
    <!-- <div *ngIf="projectForm" class="profileContainer" [formGroup]="projectForm">
         {{ 'CURRENT_PROFILE' | translate }}
         <mat-form-field>
             <mat-label>{{ 'NAME' | translate }}</mat-label>
             <input matInput placeholder="John Doe" formControlName="name">
         </mat-form-field>
         <div class="groupContainer">
&lt;!&ndash;                <div>
                 &lt;!&ndash; location select &ndash;&gt;
                 <mat-form-field>
                     <mat-label>{{ 'LOCATION' | translate }}</mat-label>
                     <mat-select formControlName="location">
                         @for (location of locations; track location) {
                             <mat-option [value]="location.id">
                                 {{ location.name }}
                             </mat-option>
                         }
                     </mat-select>
                 </mat-form-field>
             </div>&ndash;&gt;
&lt;!&ndash;                <div>
                 &lt;!&ndash; currency select &ndash;&gt;
                 <mat-form-field>
                     <mat-label>{{ 'CURRENCY' | translate }}</mat-label>
                     <mat-select formControlName="currency">
                         @for (currency of currencies; track currency) {
                             <mat-option [value]="currency.valueOf()">
                                 {{ currency }}
                             </mat-option>
                         }
                     </mat-select>
                 </mat-form-field>
             </div>&ndash;&gt;
         </div>

         &lt;!&ndash; annually inputs &ndash;&gt;
         {{ 'ANNUALLY' | translate }}
         <div class="groupContainer">
             <div>
                 <mat-form-field>
                     <mat-label>{{ 'ANNUAL_COST' | translate }}</mat-label>
                     <input matInput placeholder="0" formControlName="annual_cost">
                 </mat-form-field>
             </div>
             <div>
                 <mat-form-field>
                     <mat-label>{{ 'ANNUAL_HOURS' | translate }}</mat-label>
                     <input matInput placeholder="0" formControlName="annual_hours">
                 </mat-form-field>
             </div>
         </div>

         &lt;!&ndash; modifiers input &ndash;&gt;
         {{ 'MODIFIERS' | translate }}
         <div class="groupContainer">
             <div>
                 <mat-form-field>
                     <mat-label>{{ 'EFFECTIVENESS' | translate }}</mat-label>
                     <input matInput placeholder="0" formControlName="effectiveness">
                 </mat-form-field>
             </div>
             <div>
                 <mat-form-field>
                     <mat-label>{{ 'HOURS_PER_DAY' | translate }}</mat-label>
                     <input matInput placeholder="0" formControlName="hours_per_day">
                 </mat-form-field>
             </div>
         </div>

         &lt;!&ndash; buttons &ndash;&gt;
         <div class="buttonContainer">
             <button mat-stroked-button (click)="update()">
                 <mat-icon>check</mat-icon>
                 {{ 'UPDATE' | translate }}
             </button>
             <button mat-stroked-button (click)="undo()">
                 <mat-icon>undo</mat-icon>
                 {{ 'UNDO' | translate }}
             </button>
         </div>
     </div>
 </div>
</div>
-->

<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>remove</mat-icon>
    {{ 'REMOVE' | translate }}
  </button>
</mat-menu>
  </div>
</div>
