.container {
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 80vw;
  background-color: forestgreen;
  padding: 1rem;
  border-radius: 1rem;
  margin-top: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  transition: width 0.3s ease;
}

.container.menuClosed {
  width: 90vw;
}

.titleContainer {
  display: flex;
  flex-direction: row;
  color: white;
  align-items: center;
  max-height: 5vh;
  font-size: 3rem;
  padding-bottom: 1rem;
}

.tableContainer {
  /*margin-top: 0;*/
  max-height: 83%;
  overflow: auto;
  background-color: whitesmoke;
  position: relative;
}

.spinnerContainer {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.currencyTable {
  width: 100%;
}

.mat-mdc-row:hover {
  background-color: rgba(0, 0, 0, 0.03);
}
.uploadContainer {
  padding: 0.750rem;
  margin-top: auto;
  max-height: fit-content;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: whitesmoke;
  border-radius: 1rem 1rem 0 0;
}
