<div class="container">
  <div class="imageContainer">
    <img src="images/sidebar_logo.png">
  </div>
  <div class="buttonContainer">
    <button class="navButton" mat-flat-button routerLink="/dashboard">
      <mat-icon>
        space_dashboard
      </mat-icon>
      {{ 'DASHBOARD' | translate }}
    </button>
    <button class="navButton" mat-flat-button routerLink="/profiles">
      <mat-icon>
        person
      </mat-icon>
      {{ 'PROFILES' | translate }}
    </button>
    <button class="navButton" mat-flat-button routerLink="/teams">
      <mat-icon>
        groups
      </mat-icon>
      {{ 'TEAMS' | translate }}
    </button>
    <button class="navButton" mat-flat-button routerLink="/currency">
      <mat-icon>
        currency_exchange
      </mat-icon>
      {{ 'CURRENCY' | translate }}
    </button>
  </div>
  <div class="bottomContainer">
    <button class="iconButton" mat-icon-button (click)="switchLanguage()" matTooltip="{{ 'LANGUAGE' | translate }}">
      <mat-icon>
        language
      </mat-icon>
    </button>
    <button class="iconButton" mat-icon-button matTooltip="{{ 'LOGOUT' | translate }}">
      <mat-icon>
        logout
      </mat-icon>
    </button>
  </div>
</div>
